{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center p-5 m-5">
    <div class="col col-md-6">
        <div class="card text-center">
            <div class="card-title">
                <h1 class="text-center" >Update Task</h1>
            </div>
            <form action="{% url 'task_detail' task.id %}" method="POST">
                
                <div class="card-body">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
                <button class="btn btn-info my-2 my-sm-0" type="submit">Send</button>
            </form>   
            <div class="m-3">
                <form action="{% url 'task_delete' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm" type="submit">Delete task</button>
                </form>
            </div>
            
            {% if error %}
            <div class="p-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{ error }}</strong>
                </div>
            </div>
        {% endif %}             
        </div>
    </div>
</div>


{% endblock content %}